### Review sup vs unsup

In [ ]:
import pandas as pd
from pathlib import Path
ccinfo_df = pd.read_csv(
    Path("Resources/cc_info_default.csv")
)
ccinfo_df.head()
# ccinfo_df.count()

(4999,7) @matmul (7, 3) = (4999, 3) project down from 7 to 3. project (4999, 7) @(7,100) up to (4999, 100)

### Time Series
- order dependency, can't switch, however we can shift. 
1. ts1(apple daily sales) -> ts2(apple stock price). we observe ts1 -> ts2, ts1 leading indicator
2. ts0 (weather) -> ts1 (production of wheat), ts0 -> ts2 (wheat price). 
3. (ts1 unknown) -> ts2(we can observe, stock price) decompose, auto corralation, seasonality, cross corralation 
facebook prophet, 
sup learning models, rnn, lstm, transformers.

In [71]:
import pandas as pd
import hvplot.pandas
import numpy as np
from pathlib import Path

In [72]:
# Set the file path
file_path = Path("Resources/national-home-sales.csv")

In [73]:
# Load time series data into Pandas
df_home_sales = pd.read_csv(file_path, index_col="period_end_date", parse_dates=True)
df_home_sales.head(30)

# (103, 3)

                 inventory  homes_sold  median_sale_price
period_end_date
2020-01-01         1250798      377964             289000
2020-02-01         1265253      405992             294000
2020-03-01         1316823      507324             303000
2020-04-01         1297460      436855             304000
2020-05-01         1289500      421351             299000
2020-06-01         1219863      587635             310000
2020-07-01         1165359      700733             323000
2020-08-01         1066903      652878             328000
2012-02-01         2078931      304737             160000
2012-03-01         2120173      394034             171000
2012-04-01         2155803      404927             178000
2012-05-01         2163303      464281             186000
2012-06-01         2145658      487959             194000
2012-07-01         2109202      451243             192000
2012-08-01         2048712      485480             190000
2012-09-01         2010080      392397             187000
2012-10-01         1936114      423079             185000
2012-11-01         1823542      398471             189000
2012-12-01         1666931      391200             193000
2013-01-01         1680276      311458             180000
2013-02-01         1715241      322111             181000
2013-03-01         1758071      419901             193000
2013-04-01         1842873      459989             199000
2013-05-01         1911782      534797             209000
2013-06-01         1953106      526615             219000
2013-07-01         1983624      548495             220000
2013-08-01         1984408      537397             217000
2013-09-01         1990299      448002             210000
2013-10-01         1963663      447647             210000
2013-11-01         1863258      384211             208000

### Activity 1, time zone
[Ref](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior)

In [ ]:
# Initial imports
import pandas as pd
from pathlib import Path

In [ ]:
# Read the new S&P 500 CSV data into a DataFrame
df_sp500 = pd.read_csv(
    Path("Resources/sp500.csv"),
    # parse_dates=['time']
    # date_format='%Y-%m-%d %H:%M:%S%z'
)

# Display the DataFrame
df_sp500.head()
df_sp500['time'].dtype

In [ ]:
df_sp500['time'] = pd.to_datetime(
    df_sp500['time'])
df_sp500['time'].dtype

In [ ]:
df_sp500['time'] = df_sp500['time'].dt.tz_convert('US/Eastern')
df_sp500

### Activity3: Analyzing Market Data Across Time

In [ ]:
# Initial imports
import pandas as pd
from pathlib import Path
# Read the new S&P 500 CSV data into a DataFrame
df_sp500 = pd.read_csv(
    Path("Resources/sp500.csv")
)

df_sp500.head()

In [ ]:
df_sp500['time'] = pd.to_datetime(df_sp500['time'])
df_sp500['time'] = df_sp500['time'].dt.tz_convert('US/Eastern')
df_sp500['time'].dtype

In [ ]:
df_sp500.set_index('time', inplace=True)

In [ ]:
df_sp500.index.year
df_sp500.index.month
df_sp500.index.quarter

In [ ]:
df_sp500['close'].plot(
    title  = 's&p prices',
    figsize = [10,5]
)

In [ ]:
df_sp500.loc['2019-06-03'].head(20)

In [ ]:
df_sp500.loc['2019-06-03 10:00:00': '2019-06-04 10:00:00'].plot(figsize = [5,3])

## Activity 5: Exploring Time Series Data

In [ ]:
import pandas as pd
import hvplot.pandas
import numpy as np
from pathlib import Path

In [ ]:
# Set the file path
file_path = Path("Resources/national-home-sales.csv")

In [ ]:
# Load time series data into Pandas
df_home_sales = pd.read_csv(file_path, index_col="period_end_date", parse_dates=True)

In [ ]:
# Display sample data
df_home_sales.head(10)

In [ ]:
df_home_sales[['inventory','homes_sold','median_sale_price']].plot()

In [ ]:
df_home_sales.index.dtype

In [ ]:
quarterly_sales = df_home_sales["homes_sold"].groupby(by = [df_home_sales.index.quarter]).sum()
type(quarterly_sales)
quarterly_sales_df = pd.DataFrame(quarterly_sales)
quarterly_sales_df

In [ ]:
quarterly_sales_per_year = df_home_sales['homes_sold'].groupby(by = [df_home_sales.index.year, df_home_sales.index.quarter]).sum()
type(quarterly_sales_per_year)
quarterly_sales_per_year_df = pd.DataFrame(quarterly_sales_per_year)
quarterly_sales_per_year_df

In [ ]:
quarterly_sales_per_year_df.plot(figsize = [20,10])

In [ ]:
df_home_sales.hvplot.heatmap(
    x = 'index.year',
    y = 'index.quarter',
    C= 'homes_sold',
    cmap = 'blues'
).aggregate(function = np.mean)